
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card{
    width: 20rem;
    text-align: center;
    border-radius: 5px;
}
.detalleCard {
    height: 400px;
}
.btnMasMenos{
    padding: 5px;
    font-weight: bold;
    color: #81ace4;
    width: 34px;
    font-size: 15px;
}
.btnMasMenos:hover{
    background-color: #e7e7e7;
    color: #080ce4;
}
footer, nav{
    background-color: #b0d2ee;
    font-family: 'Rampart One', cursive;
}
.identification {
    color: #183353;
    text-decoration: none;
}
.identification:hover {
    color: rgb(16, 8, 51);
}
body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    letter-spacing: 1px;
}
.logo {
    max-width: 70px;
}
.navCategory{
    margin-right: 15px;
    margin-left: 15px;
}
.picture{
    max-width: 150px;
}

.card-img-top{
    max-width: 400px;
    height: 300px;
}
.cartContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.labelCart:hover{
    background-color: #82b4ff;
    border: #ffffff solid 1px;
    border-radius: 50px;
    padding: 13px 10px 10px 10px;
}
.carrito{
    max-width: 30px;
    padding-right: 3px;
}
.inputStyle{
    border-radius: 150px;
}
label{
    font-weight: bold;
}
.imgStyle{
    max-width: 600px;
    max-height: 450px;
}
.linksIcons{
    color: #f5f6f7;
    font-size: xx-large;
    text-decoration: none;
}
.instagram:hover{
    color: #C13584;
}

.facebook:hover{
    color: #1778F2;
}
.whatsapp:hover{
    color: #4AC959;
}

.copyright{
    font-size: x-small;
}
